.section-title {
	font-family:Athelas Regular;
}
body {
	padding-right: 0px !important;
}

body.modal-open[style] {
	overflow: auto;
}
.modal-header {
	padding:15px!important;
	background-color:#333;
	color:#eee;
}
.modal-footer {
	padding:7px!important;
}

.navbar {
	background-color:rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;

    .navbar-brand {
    	font-family:Athelas Regular;
    	font-size:30px;
    	color:#fff;
    	letter-spacing:1px;
    	text-shadow:-2px 2px 1px #000;

    	position: absolute;
	    width: 100%;
	    left: 0;
	    top: 0;
	    text-align: center;
	    margin: auto;

	    display:none;
    }
    .navbar-brand img {
		margin-top:7px;
		width:70%;
	}
}
div.underline-fff {
	width:70px;border:2px solid #eee;margin:20px 0;
}
div.underline-000 {
	width:70px;border:2px solid #333;margin:20px 0;
}
div.underline-gold {
	width:70px;border:2px solid #ebcb80;margin:20px 0;
}
.gold {
	background-color:#ebcb80!important;
}
.black {
	background-color:#333!important;
}
.form-group {
	margin:7px 0 0 0;
	label {
        color:#333!important;
        font-size:13px!important;
    }
}
.is-focused .form-control {
    background-image: linear-gradient(#ebcb80, #ebcb80), linear-gradient(#D2D2D2, #D2D2D2)!important;
}

.section-title {
	font-family:Athelas Regular;
}

.banner {
	background-repeat: no-repeat!important;
	background-position:center!important;
	background-size:cover!important;
	

	.banner-overlay {
		background-color:rgba(0, 0, 0, 0.5);
		height:inherit;
		padding:100px 0;
	}

	.section-1-content {
		.calendar-title {
			text-align:center;
			color:#fff;
			letter-spacing:2px;
		}

		#btn-next {
			padding:13px 0;
			width:200px;
			background-color:#ebcb80;
			color:#333;
			font-weight:bold;
			border-radius:25px;
		}

		h1 {
			font-size:50px;
			color:#fff;
			font-weight:bold;
			text-shadow:-1px 2px 1px #000;
			letter-spacing:2px;
		}

		p.text {
			color:#FFF;
			font-size:18px;
			line-height:25px;
		}
		#banner-calendar {
			margin:30px 0;
			font-weight:bold;
			border-radius:25px;
			padding-top:13px;
			padding-bottom:13px;
		}
		#banner-calendar:hover {
				background-color:#ebcb80!important;
			}
	}
}

.section-2 {
	background-repeat: no-repeat!important;
	background-position:center!important;
	background-size:cover!important;

	.section-2-content {
		padding:100px 0;
		color:#fff;

		p.text {
			margin:40px 0;
		}

		ul li {
			display:inline;
			.btn {
				font-weight:bold;
				width:200px;
				height:50px;
				border-radius:25px;
				box-shadow:none;
				border:2px solid #fff;
			}
			#btn-exam {
				color:#ebcb80;
			}
			#btn-lense {
				background-color:transparent;
				color:#fff;
			}
		}
	}
}


/** CALENDAR MODULE **/
.calendar {
	background:#eee;
	padding:0px!important;
	.ui-datepicker {
		border-radius:10px;
		.ui-datepicker-header {
			background-color:#ebcb80;
			color:#333;
			padding:2em;
			font-weight:bold;

			.ui-datepicker-prev {
				float:left;
				cursor:pointer;
				color:#333;
				text-decoration:none;
			}
			.ui-datepicker-next {
				float:right;
				cursor:pointer;
				color:#333;
				text-decoration:none;
			}
			.ui-datepicker-title {
				text-align:center;
			}
		}
		.ui-datepicker-calendar {
			thead {
				background-color:#ebcb80;
				color:#333;
				tr > th {
					text-align:center;
					text-transform:uppercase;
				}
			}
			tbody {
				tr > td {
					text-align:center;
					border:none;
					background-color:#fafafa;
					font-weight:bold;
					padding:2% 0;
					a {
						color:rgba(0,0,0,0.87);
						text-decoration:none;
					}
				}
				tr .ui-datepicker-other-month span.ui-state-default {
					background-color:#fafafa;
					color:#bdbdbd;
				}
				tr > td:hover {
					background-color:#ebcb80;
					text-decoration:none;
				}
				tr .ui-datepicker-current-day {
					background-color:#b2dfdb;
				}
			}
		}
	}
}

/** If it has data **/
/** .ui-datepicker .ui-datepicker-calendar tbody tr td a {
	background-color:#a5d6a7;
	padding:5% 15%;
	border-radius:20px;
	text-decoration:none;
} **/

.section-3 {
	background-color:#fff;

	.section-3-content {
		padding:50px 0 100px 0;
	}
	.text {
		margin:45px 0;
	}
}

.section-4 {
	background-color:#eee;
	.section-4-content {
		padding:100px 0;

		.services-container {
			margin-top:40px;

			.services {
				border-left:3px solid #ebcb80;
				padding-left:15px;
				li {
					margin:12px 0;
					font-size:15px;
				}
			}
		}

		.inquiry {
			margin-top:40px;
			.btn {
				padding-top: 13px;
				padding-bottom: 13px;
			    background-color: #ebcb80;
			    color: #333;
			    font-weight: bold;
			    border-radius: 25px;
			}
			span {
				font-size:18px;
				font-weight:bold
			}
		}
	}
}

.section-5 {
	background-repeat: no-repeat!important;
	background-position:center!important;
	background-size:cover!important;

	.section-5-content {
		padding:100px 0;
		text-align:right;
	}
}

.section-6 {
	background-color:#333;
	border-top:10px solid #ebcb80;
	.section-6-content {
		padding:20px 0;

		.footer-menu .col-md-2 {
			margin-top:10px;
			margin-bottom:10px;
			.menu a {
				text-decoration:none;
				text-transform:uppercase;
				color:#eee;
			}
		}
		.footer-info {
			color:#909090;
			ul li {
				margin:5px 0;
			}
		}
		.social-btn a {
			text-decoration:none;
			color:#909090;
		}
	}
}

.scheduleForm-body {
	height:75vh!important;
	overflow:auto!important;

}

.products {
	 .product-container {
		background-color:#fff;
		padding:20px;
		margin-bottom:5px;
		.product-preview {
			.carousel {
				border:1px solid #d8d8d8;
				.carousel-inner .item img {
					height:400px;
					margin:0 auto;
				}
				.carousel-control {
					background-image:none;
					 background-color:#ebcb80;
					color:#333;
				}
			}
		}
		.product-info {
			.first {
				border-bottom:1px dotted #e7e7e7;
				.product-title {
					font-size:15px;
					font-weight:bold;
				}
				.product-price {
					font-size:20px;
				}
				.product-description {
					font-size:13px;
				}
			}
			.third {
				.product-features, .product-specification {
					font-size:12px;
				}
			}
		}
	}
	.products-container {
		background-color:#eee;
		padding:20px;
	}
}

/** Media Queries **/
@media screen and (max-width: 480px) {

    .banner {
    	height:80vh;
    }

    .banner .banner-overlay {
    	padding:50px 0;
    }

    .section-1-content, .section-2-content,
    .section-3-content, .section-4-content,
    .section-5-content, .section-6-content {
    	padding-left:15px!important;
        padding-right:15px!important;
    }

    .g-recaptcha {
    	transform:scale(0.70);
    }

    .products .product-container .product-preview .carousel .carousel-inner .item img {
    	height:200px;
    }

}