$fa-font-path: "/build/assets/fonts/";
$icon-font-path: "/build/assets/fonts/";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/bootstrap-material-design/sass/bootstrap-material-design";
@import "bower_components/bootstrap-material-design/sass/ripples";
@import "bower_components/font-awesome/scss/font-awesome";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/build/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/build/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/build/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Athelas Regular';
  font-style: normal;
  src: url(/build/assets/fonts/Athelas%20W01%20Regular.otf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.snackbar.error {
  background-color: red;
}
.snackbar.alert {
  background-color: yellow;
  color: black;
}
.snackbar.notice {
  background-color: green;
}

// Admin-wide Styles

body {
    color:#333;
    background-color:#eee;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.gold { background-color:#ebcb80; }
.modal-header {
    padding:15px!important;
    background-color:#333;
    color:#eee;
}
.modal-footer {
    padding:7px!important;
}

.navbar {
    margin-bottom:0px;
    background-color:#ebcb80!important;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #333;

    .navbar-nav li a {
        color:#333;
    }
    .navbar-brand span {
      font-family:Athelas Regular;
      font-size:30px;
      letter-spacing:1px;
      text-shadow:-2px 2px 1px #000;
      color:#fff;
    }
}

.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.badge-default { background-color:#9e9e9e; }
.badge-primary { background-color:#009688; }
.badge-success { background-color:#4caf50; }
.badge-warning { background-color:#ff5722; }
.badge-danger { background-color:#f44336; }
.badge-info { background-color:#03a9f4; }

.form-group {
    margin:7px 0 0 0;
    label {
        color:#333!important;
        font-size:13px!important;
    }
}
.checkbox {
  .checkbox-material .check {
    border-radius:0;
  }
  label {
    line-height:2;
    color:inherit;
  }
}

.is-focused .form-control {
    background-image: linear-gradient(#ebcb80, #ebcb80), linear-gradient(#D2D2D2, #D2D2D2)!important;
}

.navbar-search {
    .form-group .form-control {
        background-image: linear-gradient(#aeaeae, #aeaeae), linear-gradient(#aeaeae, #aeaeae)!important;
        color:#333!important;
        box-shadow: 0 4px 4px -6px #000;
    }
    .is-empty .form-control {
        background-image: linear-gradient(#aeaeae, #aeaeae), linear-gradient(#aeaeae, #aeaeae)!important;
    }
    .is-focused .form-control {
        background-image: linear-gradient(#959595, #959595), linear-gradient(#959595, #959595)!important;
    }
}

#wrapper {
    padding-left: 0;
    margin-top:60px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#menu-toggle .icon-bar {
  margin-top: 4px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

/* Sidebar Styles */

.sidebar-nav {
    padding-top: 10px !important;
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

    .img-responsive {
        border-radius:50%;
        position:relative;
        overflow:hidden;
        width: 130px;
        margin:15px auto
    }
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #eee;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #484848;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
