$fa-font-path: "/build/assets/fonts/";
$icon-font-path: "/build/assets/fonts/";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/bootstrap-material-design/sass/bootstrap-material-design";
@import "bower_components/bootstrap-material-design/sass/ripples";
@import "bower_components/font-awesome/scss/font-awesome";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/build/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/build/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/build/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/build/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Athelas Regular';
  font-style: normal;
  src: url(/build/assets/fonts/Athelas%20W01%20Regular.otf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.snackbar.error {
  background-color: red;
}
.snackbar.alert {
  background-color: yellow;
  color: black;
}
.snackbar.notice {
  background-color: green;
}
