body.login-page {
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    background-color:#333!important;

    .overlay {
        padding:10% 0;
        background-color:rgba(0, 0, 0, 0.7);
        height:100vh;

        .panel {
            .panel-heading {
                background-color:#ebcb80!important;
                padding:20px 0;
                .panel-title {
                    text-align:center;
                    font-weight:bold;
                }
            }
            .panel-body .btn-login {
                background-color:#333!important;
                color:#eee!important;
            }
        }
    }
}