/** CALENDAR MODULE **/
.calendar {
    background:#eee;
    padding:0px!important;
    .ui-datepicker {
        border-radius:10px;
        .ui-datepicker-header {
            background-color:#ebcb80;
            color:#333;
            padding:2em;
            font-weight:bold;

            .ui-datepicker-prev {
                float:left;
                cursor:pointer;
                color:#333;
                text-decoration:none;
            }
            .ui-datepicker-next {
                float:right;
                cursor:pointer;
                color:#333;
                text-decoration:none;
            }
            .ui-datepicker-title {
                text-align:center;
            }
        }
        .ui-datepicker-calendar {
            thead {
                background-color:#ebcb80;
                color:#333;
                tr > th {
                    text-align:center;
                    text-transform:uppercase;
                }
            }
            tbody {
                tr > td {
                    text-align:center;
                    border:none;
                    background-color:#fafafa;
                    font-weight:bold;
                    padding:2% 0;
                    a {
                        color:rgba(0,0,0,0.87);
                        text-decoration:none;
                    }
                }
                tr .ui-datepicker-other-month span.ui-state-default {
                    background-color:#fafafa;
                    color:#bdbdbd;
                }
                tr > td:hover {
                    background-color:#ebcb80;
                    text-decoration:none;
                }
                tr .ui-datepicker-current-day {
                    background-color:#b2dfdb;
                }
            }
        }
    }
}
